body {
background-image: url("spikes.png");
}

h1 {
    font-size: 62px;
    font-family: 'Satisfy', cursive;
    margin-bottom: 0px;
    margin-top: 14px;
}

h5 {
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
}

#timeHead, #date {
    font-size: 16px;
    font-family: 'Tomorrow', cursive;
    margin: 2px; 
}

#time8, #time9, #time10, #time11, #time12, #time13, #time14, #time15, #time16, #time17, #time18  {
    background-color: rgb(246, 248, 116);
    height: 48px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.details {
    background-color: rgb(151, 236, 95);
    height: 48px;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    padding: 4px;
}

#text {
    border: 0px;
    height: 43px;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    border-radius: 10px;
}

#button {
    height: 48px;
    width: 60px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
}

#lock8:hover, #lock9:hover, #lock10:hover, #lock11:hover, #lock12:hover, #lock14:hover, #lock15:hover, #lock16:hover, #lock17:hover {
    background-color: #170cb4;
    cursor: pointer;
}

#text:hover {
    background-color: #abe9e1;
    cursor: pointer;
}

#lock8, #lock9, #lock10, #lock11, #lock12, #lock13, #lock14, #lock15, #lock16, #lock17, #lock18 {
    background-color: dodgerblue;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 4px;
    margin: 2px;
    width: 60px;
    border-radius: 10px;
}

.row {
    border-radius: 10px;
    border: rgb(127, 153, 153) solid 1px;
    height: 50px;
    font-size: 20px;
    margin: 1px;
}
